*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.main{
    display:flex;
    justify-content: center;
    align-items: center;
}
.home{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width:45vw;
    height: 33vw;
    margin:8em;
    background-color: #1A1A1D;
}
.input,.calulate,.output{
    margin:1em;
}
#date{
    width:15em;
    height:3em;
}
h1{
    color:#C3073F;
}
#label{
    color:#C3073F;
    font-size: larger;
    text-align: center;
}
.output{
    color:#950740;
}
#calculate{
    background-color: #ffffff;
    color:#1A1A1D;
    padding:0.3em;
    border-radius: 7px;
}
@media screen and (max-width:767px) {
    *{
        margin:0;
        padding:0;
    }
    .main{
        width: 100%;
        height: 100%;
    }
    .home,.input{
            width:100%;
            height: 100%;
            margin: 0;
    }
}